* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    border: 2px solid green;
    min-height: 100vh;
    background-color: #f7ab0f;
}

#headImage {
    position: absolute;
    top: -20px;
    height: 250px;
    width: 500px;
    /* border: 2px solid black; */
}

.box {
    /* position: absolute; */
    display: flex;
    margin-top: 185px;
    height: 360px;
    width: 660px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: -2px 3px 0px 0px rgba(0,0,0,0.5);
    /* border: 2px solid red; */
}

.boxLeft {
    border-radius: 20px;
    width: 310px;
    text-align: center;
    position: relative;
    /* border: 2px solid black; */
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    /* border-right: 2px solid black; */
}

.boxLeft img {
    margin: auto;
    width: 100%;
    height: 360px;
    border-radius: 20px;
    background-color: #f7ab0f;
}

.boxLeft h2 {
    position: absolute;
    top: 145px;
    right: 0;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.05em;

    /* text-align: center;
    padding-top: 160px; */
}

.boxRight {
    width: 350px;
}

.boxRight form {
    padding: 20px 30px;
    /* border: 2px solid black; */
    inset: 4px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.boxRight h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #f7ab0f;
    font-size: 40px;
}

.boxRight span {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.05em;
}

.boxRight form .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.boxRight form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.boxRight form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    font-weight: 900;
    color: #f7ab0f;
    font-size: 1.1em;
    transition: 0.5s;
    letter-spacing: 0.05em;
}

.boxRight form .inputBox input:valid~span,
.boxRight form .inputBox input:focus~span {
    color: black;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.boxRight form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #23242a;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.boxRight form .rememberBox {
    display: flex;
    justify-content: space-between;
    padding: 15px 2px;
}

.boxRight form .login {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 550;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    padding: 6px 8px;
    background-color: #f7ab0f;
    border: 0;
}

.boxRight form .login:hover{
    opacity: 0.8; /*transparancy*/
}


